<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User7::Modify</title>
</head>
<body>
    <h3>User7 수정</h3>

    <a th:href="@{/user7/list}">목록</a>
    <form method="post" th:action="@{/user7/modify}" th:object="${user7DTO}">
        <table border="1">
            <tr>
                <td>아이디</td>
                <td><input type="number" name="id" readonly th:value="*{id}"/></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="name" th:value="*{name}"/></td>
            </tr>
            <tr>
                <td>나이</td>
                <td><input type="number" name="age" th:value="*{age}"/></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="text" name="email" th:value="*{email}"/></td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="submit" value="수정하기"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>