<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ch06.Spring JPA</title>
    <!---
        날짜 : 2025.09.22.
        이름 : 강민철
        내용 : 06wkd Spring JPA 실습
    -->
</head>
<body>
    <h3>6장 Spring JPA</h3>

    <h4>JPA 기본 CRUD 실습</h4>
    <a th:href="@{/user1/list}">User1 실습</a><br>
    <a th:href="@{/user2/list}">User2 실습</a><br>
    <a th:href="@{/user3/list}">User3 실습</a><br>
    <a th:href="@{/user4/list}">User4 실습</a><br>
    <a th:href="@{/user5/list}">User5 실습</a><br>
    <a th:href="@{/user6/list}">User6 실습</a><br>
    <a th:href="@{/user7/list}">User7 실습</a>
</body>
</html>