<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User4::List</title>
</head>
<body>
    <h3>User4::List</h3>

    <a th:href="@{/}">처음</a>
    <a th:href="@{/user4/register}">등록</a>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>성별</th>
            <th>나이</th>
            <th>주소</th>
            <th>관리</th>
        </tr>
        <tr th:each="user : ${dtoList}" th:object="${user}">
            <td th:text="*{name}"></td>
            <td th:text="*{gender}"></td>
            <td th:text="*{age}"></td>
            <td th:text="*{addr}"></td>
            <td>
                <a th:href="@{/user4/modify(name=*{name})}">수정</a>
                <a th:href="@{/user4/delete(name=*{name})}">삭제</a>
            </td>
        </tr>
    </table>
</body>
</html>