<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User7::List</title>
</head>
<body>
    <h3>User7::List</h3>

    <a th:href="@{/}">처음</a>
    <a th:href="@{/user7/register}">등록</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>나이</th>
            <th>이메일</th>
            <th>관리</th>
        </tr>
        <tr th:each="user : ${dtoList}" th:object="${user}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{age}"></td>
            <td th:text="*{email}"></td>
            <td>
                <a th:href="@{/user7/modify(id=*{id})}">수정</a>
                <a th:href="@{/user7/delete(id=*{id})}">삭제</a>
            </td>
        </tr>
    </table>
</body>
</html>